<!-- <header class="masthead">
  <div class="row">
      <div class="col">
       <img  src="../assets/images/logo.png" class="mx-auto" style="width: 170px; margin-top: 10px;">
    </img>            
</div>
</div> 
</header>
<section>
<div class="location">
      <h1 class="location-timezone">GET Current Weather</h1>
</div>
<div class="temperature">
      <div class="form-group">
  <input type="text" class="form-control" id="city" name="city">
  <button id="submitButton" name="submitButton" class="btn btn-info px-5 py-2 my-2">Search City</button>
<span id="error" name="error" style="color: red"></span>    
<div class="temperature-description">
  
</div>    
</div>            
</div>

</section>

<section>
<table class="table" id="weatherTable"></table>
</section>

</header> -->

<router-outlet></router-outlet>